* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}
.inner {
  width: 100%;
  /* padding moves all the items in the container. As of right now its the graph
  and header */
  padding: 2rem 10px 10rem;
}
.header, .dataTabs {
  text-transform: lowercase;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  line-height: 2em;
  /* margin-bottom moves the graph lower */
 
}
.header {
   margin-bottom: 8rem;
  border-bottom: 2px solid #eaeaea;
}

.dataTabs {
  margin-top: 2rem;
}