.App {
  text-align: center;
}
.header{
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  color: aqua;
  background-color: blueviolet;
}
.footer{
  width: 100%;
  position: fixed;
  left:0px;
  bottom:0;
  background-color: blueviolet;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
  font-weight: 100;
}
p {
  font-size: .5em;
  font-style: italic;
}
/* .container{
  width:80%;
  margin: 0 auto;
} */
.Graph{
  top:50%;
  position: relative;
}